# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
*.card
*.bna

# misc
.DS_Store
!.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
composer-logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
